.image-logo {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-logo img {
  max-width: 100%;
  height: auto;
}

section.container {
  min-height: 800px;
}