main.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}

main.container-fluid .title {
  color: #333;

}

main.container-fluid .buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}

main.container-fluid form .imgup{
  width: 150px;
  height: 150px;
  margin-left: 100px;
}

